<div class="food-form" [ngSwitch]="state">
  <h1>Track your meal</h1>

  <form *ngSwitchCase="FormState.EDITING" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input name="description" matInput placeholder="Description" [(ngModel)]="model.description">
    </mat-form-field>
    <mat-checkbox name="answer0" [checked]="model.answers[0] == 1" (change)="model.answers[0] = $event.checked ? 1:0">
      No carbohydrates
    </mat-checkbox>
    <mat-checkbox name="answer1" [checked]="model.answers[1] == 1" (change)="model.answers[1] = $event.checked ? 1:0">
      Small portion
    </mat-checkbox>
    <mat-checkbox name="answer2" [checked]="model.answers[2] == 1" (change)="model.answers[2] = $event.checked ? 1:0">
      Low sodium
    </mat-checkbox>
    <div>
      Take a picture
      <div class="pic-preview"></div>
      <div class="pic-button">
        <button mat-fab color="accent" (click)="fileInput.click()">
          <i class="material-icons">photo_camera</i>
          <input #fileInput type="file" (change)="pictureChanged($event)" hidden accept="image/*"
                 capture="environment"/>
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>

  <div *ngSwitchCase="FormState.SUBMITTING">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngSwitchCase="FormState.SUBMITTED">
    <div><i class="material-icons">check</i> Your meal was submitted!</div>
    <div style="margin-top: 15px;">
      <button mat-raised-button color="accent" (click)="reset()">Track another meal</button>
    </div>
  </div>
</div>
