<div class="food-form" [ngSwitch]="state">
  <h1>Track your meal</h1>

  <form *ngSwitchCase="FormState.EDITING" (ngSubmit)="onSubmit()">
    <mat-expansion-panel *ngIf="!model.description">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recent Lunches
        </mat-panel-title>
      </mat-expansion-panel-header>


      <mat-list>
        <mat-list-item *ngFor="let doc of (cloud.documents|async)">
          <button mat-button type="button" (click)="model = doc">
            {{ doc.description }}
          </button>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="!model.description" #barcodePanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Scan Barcode
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-product-barcode-scanner *ngIf="barcodePanel.expanded" (found)="barcodeProductFound($event)"></app-product-barcode-scanner>
    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="!model.description" #restaurantsPanel (opened)="loadRestaurants()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          I'm at a restaurant
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-progress-bar mode="indeterminate" *ngIf="restaurantsPending"></mat-progress-bar>

      <mat-expansion-panel *ngFor="let restaurant of restaurants">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ restaurant.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list-item *ngFor="let menuItem of restaurant.menu">
          <button mat-button type="button" (click)="model = menuItem">
            {{ menuItem.description }}
          </button>
        </mat-list-item>

      </mat-expansion-panel>

    </mat-expansion-panel>

    <mat-form-field>
      <input name="description" matInput placeholder="Description" [(ngModel)]="model.description">
      <button matSuffix mat-icon-button type="button" (click)="reset()"><i class="material-icons">clear</i></button>
    </mat-form-field>


    <mat-checkbox name="answer0" [checked]="model.answers[0] == 1" (change)="model.answers[0] = $event.checked ? 1:0">
      No carbohydrates
    </mat-checkbox>
    <mat-checkbox name="answer1" [checked]="model.answers[1] == 1" (change)="model.answers[1] = $event.checked ? 1:0">
      Small portion
    </mat-checkbox>
    <mat-checkbox name="answer2" [checked]="model.answers[2] == 1" (change)="model.answers[2] = $event.checked ? 1:0">
      Low sodium
    </mat-checkbox>
    <div>
      Take a picture
      <div class="action-button" [hidden]="model.picture">
        <button mat-fab color="accent" (click)="fileInput.click()" type="button">
          <i class="material-icons">photo_camera</i>
          <input #fileInput type="file" (change)="pictureChanged($event)" hidden accept="image/*"
                 capture="environment"/>
        </button>
      </div>
      <div *ngIf="model.picture" class="pic-preview">
        <img [src]="model.picture">
        <mat-checkbox>
          Post to Instagram
        </mat-checkbox>
      </div>
    </div>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Detailed Nutrition Information
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input name="energyValue" type="number" matInput placeholder="Energy Value" [(ngModel)]="model.energyValue">
        <span matSuffix>kJ</span>
      </mat-form-field>
      <mat-form-field>
        <input name="fat" type="number" matInput placeholder="Fat" [(ngModel)]="model.fat">
        <span matSuffix>g</span>
      </mat-form-field>
      <mat-form-field>
        <input name="sugar" type="number" matInput placeholder="Sugar" [(ngModel)]="model.sugar">
        <span matSuffix>g</span>
      </mat-form-field>
      <mat-form-field>
        <input name="salt" type="number" matInput placeholder="Salt" [(ngModel)]="model.salt">
        <span matSuffix>g</span>
      </mat-form-field>
    </mat-expansion-panel>

    <button mat-raised-button color="primary" type="submit">Submit</button>

  </form>

  <div *ngSwitchCase="FormState.SUBMITTING">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngSwitchCase="FormState.SUBMITTED">
    <div><i class="material-icons">check</i> Your meal was submitted!</div>
    <div style="margin-top: 15px;">
      <button mat-raised-button color="accent" (click)="reset()">Track another meal</button>
    </div>
  </div>
</div>
