.food-form {
  padding-left: 20px;
  padding-right: 20px;
}

.food-form form {
  display: flex;
  flex-direction: column;
}

.food-form form > * {
  width: 100%;
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
}

.action-button {
  margin: 12px;
}

.pic-preview img {
  display: block;
  max-height: 250px;
}
